 {% extends 'base.html' %} {{block.super}} {% block content %}
<script>
  function myFunction() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    document.execCommand("Copy");
    alert("Copied the text: " + copyText.value);
  }
</script>

<div class="container mt-5">
  <div class="row">
    <div id="image" class="p-1">
      <div id="front" class="zoom">
        <div class="overlay">
          <div class="flex green">
            <a id="view-details{{photo.id}}" class="bttn-green button">View Details</a>
          </div>
        </div>
        <img src="{{image.image_url}}" alt="test" class="img-fluid">
      </div>
      <div id="back" class="zoom">
        <div class="shadow"></div>
        <div class="overlay1">
          <div class="flex">
            <div class="container">
              <p>Location: {{image.location.location}}</p>
              <p>Title: {{image.image_name}}</p>
              <p>Description: {{image.description}}</p>
              <input class="form-control" type="text" value="{{image.image_url}}" id="myInput">
              <a onclick="myFunction()" class="bttn-green mt-3">Copy link</a>
            </div>
            <div id="flip-back">
              <div id="cy"></div>
              <div id="cx"></div>
            </div>
          </div>
        </div>
        <img src="{{image.image_url}}" alt="test" class="img-fluid">
      </div>
    </div>
  </div>
</div>
{% endblock %}
