{% extends 'base.html' %} {{block.super}} {% block content %}
<div class="container">
  <h1 class="text-center">Gallery!</h1>
</div>
<div class="container">
  <div class="row">
    {% for photo in photos %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
      {% if photo.image %}
      <img id="one" href="{% url 'single_image' image_id=photo.id %}" src="{{photo.image.url}}" alt="test" class="img-fluid button{{photo.id}}" > {% endif %}
      <a href="{% url 'single_image' image_id=photo.id %}"><img id="one" src="{{photo.image_url}}" alt="test" class="img-fluid"> </a>
      {% if photo.location.location == "nairobi" %}
      <p><a href="{% url 'nairobi' %}">{{photo.location}}</a></p>
      {% elif photo.location.location == "mombasa" %}
      <p><a href="{% url 'mombasa' %}">{{photo.location}}</a></p>
      {% endif %}
      {% for category in photo.category.all %}
      <p>{{category}}</p>
      {% endfor %}
    </div>
    {% empty %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="text-center">No pics yet</h2>
    </div>
    {% endfor %}
  </div>
</div>

<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <img src="{{image.image_url}}" alt="test" class="img-fluid">
    </div>
  </div>
</div>

{% endblock %}
